body{
	font-family: verdana;

}
.output{font-weight: bold;}

.titel{	font-weight: bold;}

.read{background-color: lightgreen;}
.nonread{background-color: lightgray;}

img{width: 20vw;}

#books{
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
#books li{
	width: 20em;
}
p{
	padding:  0.5em;
}